@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply h-full
    }
    body {
        @apply h-full
    }
}

html {
    overflow-x: hidden;
    background-color: whitesmoke;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Montserrat', sans-serif;
}

.login {
    background-color: #C28F2C;
    padding: 0.5rem;
}

.price {
    background-color: #21212D;
}

.productCard {
    background-color: rgb(196, 196, 196);
}

.Cardproduct {
    border: solid 2px #C3A758;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.active {
    background-color: white; 
    border-radius: 9999px; 
    color: #63b3ed;
}

.clip-path {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%);
}

.filter {
    box-shadow: 4px 4px 4px #A9A9A9; 
}

.titleFilter {
    height: fit-content;
    border-bottom: solid 2px #EAB727;
}

.svgColor {
    color: #C28F2C;
}

.borderFilter {
    border: solid 2px #C3A758;
}

.filterButton {
    background-color: #E0C67E;
}

.showFilters {
    border-top: solid 2px #A9A9A9;
    border-bottom: solid 2px #A9A9A9;
}

.showFilter {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border: solid 2px #EAB727;
}

.deleteFilter {
    border-left: solid 2px #EAB727;
}

.footer {
    background-color: #383B43;
    color: whitesmoke;
}

.footer2 {
    background-color: #282C34;
    color: whitesmoke;
}

.newsletter {
    background-color: #EAB727;
    padding: 0.5rem;
    border-radius: 3px;
}

.inputNewsletter {
    border-radius: 3px;
    color: whitesmoke;
    background-color: #282C34;
}
.inputNewsletter:focus {
    border: solid 2px whitesmoke;
}

.headerTable {
    background-color: #383B43;
    color: whitesmoke;
    font-weight: bold;
    text-transform: uppercase;
}

.bodyTable {
    border: solid 2px #383B43;
    background-color: #EFEFEF;
}

.detailOrder {
    background-color: #C28F2C;
    border-radius: 10px;
    font-weight: bold;
}

@layer components {
    #root {
        @apply h-full
    }
    /* NAVBAR */
    .navbar-color {
        background-color: #282C34;
    }

    /* BODY */
    .body-color {
        background-color: #EEEEEE;
    }


    /* Position and sizing of burger button */
    .bm-burger-button {
        position: fixed;
        width: 40px;
        height: 34px;
        left: 40px;
        top: 40px;
        background-color: #C3A758;
    }

    /* Color/shape of burger icon bars */
    .bm-burger-bars {
        background: #373a47;
    }

    /* Color/shape of burger icon bars on hover*/
    .bm-burger-bars-hover {
        background: #a90000;
    }

    /* Position and sizing of clickable cross button */
    .bm-cross-button {
        height: 24px;
        width: 24px;
    }

    /* Color/shape of close button cross */
    .bm-cross {
        background: #bdc3c7;
    }

    /*
    Sidebar wrapper styles
    Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
    */
    .bm-menu-wrap {
        position: fixed;
        height: 100%;
    }

    /* General sidebar styles */
    .bm-menu {
        background: #373a47;
        padding: 2.5em 1.5em 0;
        font-size: 1.15em;
    }

    /* Morph shape necessary with bubble or elastic */
    .bm-morph-shape {
        fill: #373a47;
    }

    /* Wrapper for item list */
    .bm-item-list {
        color: #b8b7ad;
        padding: 0.8em;
    }

    /* Individual item */
    .bm-item {
        display: inline-block;
    }

    /* Styling of overlay */
    .bm-overlay {
        background: rgba(0, 0, 0, 0.3);
    }


    /* LINKS */
    .link {
        @apply cursor-pointer text-base font-medium text-gray-500 hover:text-gray-900;
    }

    /* BUTTONS */
    .btn{
        @apply whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent 
        rounded-md shadow text-base font-medium focus:outline-none 
        transform active:scale-95 active:ring-2 active:ring-offset-2 active:ring-white ;
    }
    .btn-primary{
        @apply text-white bg-primary-600 hover:bg-primary-700 hover:text-white 
         active:ring-primary-500 ;
    }
    .btn-secondary{
        @apply text-white bg-secondary-500 hover:bg-secondary-600 hover:text-white 
        active:ring-secondary-400 ;
    }
    .btn-blue{
        @apply text-white bg-blue-600 hover:bg-blue-700 hover:text-white 
        active:ring-primary-500 ;
    }
    .btn-red{
        @apply text-white bg-red-600 hover:bg-red-700 hover:text-white 
        active:ring-red-500 ;
    }
    .btn-green{
        @apply text-white bg-green-600 hover:bg-green-700 hover:text-white 
        active:ring-green-500 ;
    }
    .btn-yellow{
        @apply text-white bg-yellow-500 hover:bg-yellow-600 hover:text-white 
        active:ring-yellow-500 ;
    }
    .btn-purple{
        @apply text-white bg-purple-600 hover:bg-purple-700 hover:text-white 
        active:ring-purple-500 ;
    }
    .btn-pink{
        @apply text-white bg-pink-600 hover:bg-pink-700 hover:text-white 
        active:ring-pink-500 ;
    }
    .btn-indigo{
        @apply text-white bg-indigo-600 hover:bg-indigo-700 hover:text-white 
        active:ring-indigo-500 ;
    }

    /* INPUTS */
    .input{
        @apply appearance-none relative block w-full px-3 py-2 
        border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md 
        focus:outline-none focus:ring-primary-500 focus:border-primary-500 focus:z-20 sm:text-sm;
    }
    .input-error {
        @apply ring-red-500 border-red-500 focus:ring-red-500 focus:border-red-500 z-10 placeholder-red-500;
    }
    .checkbox {
        @apply h-4 w-4 text-primary-600 focus:ring-primary-500 border-gray-300 rounded cursor-pointer;
    }
    .checkbox-error{
        @apply border-red-500 border-2;
    }

    /* GEOMETRY */
    .point{
        @apply w-4 h-4 mt-2 p-2 rounded-full;
    }
    
}


/* ANIMATION CSS */
.anim-delay-100{
    animation-delay: 0.1s;
}
.anim-delay-300{
    animation-delay: 0.3s;
}
.anim-delay-600{
    animation-delay: 0.6s;
}
